




.embed-content {
  word-break: break-all;
  white-space: normal;
  border: 2px solid #cecece;
  border-radius: 4px;
  min-height: 80px;
  padding: 20px;
  color: #686868;

}

.embed-wrapper{
margin: 25 15px 0 15px;
}
.see-example-link:link, :visited , :active, :focus-visible  {
    text-decoration: none !important;
    color: inherit !important;
    outline: none !important;
    &:hover{
      color: white;
    }

}

.stlye-for-chrome{
  color: white;
  text-decoration: none;
}

