
.search-form {
  display: flex;
  flex-grow: 1;
  max-width: 357px;
}

.paginator-settings{
  max-width: 140px;
}

.wrapper-ci-change{
  max-width: 250px;
  padding-bottom: 15px;
}

.side-color{
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.side-first-item{
  padding-top: 15px;
  padding-right: 15px;
}

.wrapper-scout-tab{
  width: 140px;
  padding-bottom: 15px;
}
