<div class="wrapper-tli mr-5" fxLayout="row">
  <div class="wrapper-tli-picture">
    <div class="preview" (click)="openTourPlayer()">
      <img *ngIf="tour.floorPlans?.status !== 'APPROVED' && tour.floorPlans?.dollhouseOrdered" class="dollhous-icon"
        src="assets/img/floorplan_progress_icon.svg" alt="">
      <img *ngIf="tour.floorPlans?.status === 'APPROVED' && tour.floorPlans?.dollhouseOrdered" class="dollhous-icon" src="assets/img/floorplan_done_icon.svg"
        alt="">
      <img *ngIf="tour.mainImagePaths.hd1080" class="play-button circle" src="assets/img/play_icon_circle.png" alt="">
      <img *ngIf="tour.mainImagePaths.hd1080" class="play-button" src="assets/img/play_icon_circle_icon.png" alt="">
      <img class="img-wrapper" [src]="tour.mainImagePaths.hd1080 || defaultImage" alt="">
    </div>
  </div>
  <div fxLayout="row" fxFlex="1 1 auto">
    <div class="wrapper-tli-infos ml-10" fxFlex="75">
      <h2 class="mat-h2">
        {{ (tour.name .length>60) ? (tour.name | slice:0:60)+' ...': (tour.name ) }}
      </h2>
      <p class="mat-body-1 ma-top-bottom-p">
        {{'scout24.Main.TourListItem.InternalId' | translate}}: {{ tour.ids.internal }}
      </p>
      <p class="mat-body-1 ma-top-bottom-p">
        {{'scout24.Main.TourListItem.Created' | translate}}: {{ tour.createdDate }}
      </p>
      <p *ngIf="tour.ids.external" class="mat-body-1 ma-top-bottom-p">
        {{'scout24.Main.TourListItem.ExposeId' | translate}}:
        {{ tour.ids.external }}
      </p>
      <div class="mt-20">
        <button *ngIf="!tour.ids.external" mat-raised-button class="raised-button-big-black-update" disableRipple (click)="openExposeListModal()">
          <i class="material-icons connect-icon">insert_link</i>
          {{'scout24.Main.TourListItem.LinkExpose' | translate}}
        </button>
        <button *ngIf="tour.ids.external" mat-button color="accent" disableRipple class="basic-button" (click)="unlinkExposeConfirm()">
          <i class="material-icons marker-icon connect-icon">link_off</i>
          {{'scout24.Main.TourListItem.LinkExposeDelete' | translate}}
        </button>
      </div>
    </div>

    <div class="wrapper-tli-controls " fxFlex="35" fxLayout="column">
      <div fxFlex="grow shrink 100%" fxLayout="row-reverse" class="mb-20">

        <button class="control-button-tli">
          <div class="tooltip-container margin-vertical">
            <div class="tooltip-target">
              <div class="demo-box-1 align-center">
                <i class="material-icons material-icons-outlined" (click)="deleteTourConfirm()">delete_forever</i>
              </div>
            </div>
            <div class="tooltip positioning-top arrow-center bottom-addition">
              <div class="demo-box-1-dark tbox"> {{'scout24.Main.TourListItem.DeleteTourToolTip' | translate}}</div>
            </div>
          </div>
        </button>



        <button class="control-button-tli mr-10">
          <div class="tooltip-container margin-vertical">
            <div class="tooltip-target">
              <div class="demo-box-1 align-center">
                <a class="control-button-tli-link stlye-for-chrome">
                  <i [matMenuTriggerFor]="menuDownload" #menuTriggerDownload="matMenuTrigger" class="material-icons material-icons-outlined"
                  >file_download</i>
                </a>
              </div>
            </div>
            <div class="tooltip positioning-top arrow-center bottom-addition">
              <div class="demo-box-1-dark tbox"> {{'scout24.Main.TourListItem.DownloadTourToolTip' | translate}}</div>
            </div>
          </div>

        </button>
        <mat-menu #menuDownload="matMenu" class="update-hover" [hasBackdrop]="true">
          <div class="mat-menu-inner-container">
            <div class="mat-menu-trigger-empty-trigger"></div>
            <button mat-menu-item (click)="downloadImage()">
              {{'scout24.Main.TourListItem.DownloadImages' | translate}}
            </button>
            <button mat-menu-item (click)="downloadQRcode()">
              {{'scout24.Main.TourListItem.DownloadQRCode' | translate}}
            </button>
          </div>
        </mat-menu>


        <button class="control-button-tli mr-10">
          <div class="tooltip-container margin-vertical">
            <div class="tooltip-target">
              <div class="demo-box-1 align-center">
                <a class="control-button-tli-link stlye-for-chrome">
                            <i [matMenuTriggerFor]="menuShare" #menuTriggerShare="matMenuTrigger" class="material-icons material-icons-outlined"
                     >share</i>
                </a>
              </div>
            </div>
            <div class="tooltip positioning-top arrow-center bottom-addition">
              <div class="demo-box-1-dark tbox"> {{'scout24.Main.TourListItem.ShareTourToolTip' | translate}}</div>
            </div>
          </div>

        </button>
        <mat-menu #menuShare="matMenu" class="mat-menu-hover" [hasBackdrop]="true">
          <div class="mat-menu-inner-container" >
            <div class="mat-menu-trigger-empty-trigger"></div>
            <button mat-menu-item (click)="copyTourLink()">
              {{'scout24.Main.TourListItem.TourLinkCopy' | translate}}
            </button>
            <button mat-menu-item (click)="embedTour()">
              {{'scout24.Main.TourListItem.TourLinkEmbed' | translate}}
            </button>
          </div>
        </mat-menu>


        <button class="control-button-tli">
          <div class="tooltip-container margin-vertical">
            <div class="tooltip-target">
              <div class="demo-box-1 align-center">
                <a class="control-button-tli-link stlye-for-chrome" [href]="tour.dashboardLinks.editTour" target="_blank">
                  <i class="material-icons material-icons-outlined">mode</i>
                </a>
              </div>
            </div>
            <div class="tooltip positioning-top arrow-center bottom-addition">
              <div class="demo-box-1-dark tbox"> {{'scout24.Main.TourListItem.EditTourToolTip' | translate}}</div>
            </div>
          </div>
        </button>
      </div>

      <div fxFlex="grow shrink 100%" fxLayout="row" class="mb-10">

        <div class="mat-body-1">
          <span class="mat-body-2">
            {{'scout24.Main.TourListItem.TourClickUpgradeStrongText' | translate}}
          </span>
          {{'scout24.Main.TourListItem.TourClickUpgradeText' | translate}}
        </div>
      </div>

      <div fxFlex="grow shrink 100%" fxLayout="row">



        <!-- COSMA CHECK -->
        <!-- <ng-container *ngIf="false">
          <button *ngIf="!tour.floorPlans" class="button-primary" disableRipple (click)="openTourUpgradeOptions()">
            {{'scout24.Main.TourListItem.FloorPlanNonExistButton' | translate}}
          </button>
        </ng-container> -->
        <ng-container>
          <button *ngIf="!tour.floorPlans" mat-raised-button class=" raised-button-small-update option-button-tli" disableRipple
            (click)="openTourUpgradeOptions()">
            {{'scout24.Main.TourListItem.FloorPlanNonExistButton' | translate}}
          </button>
        </ng-container>
        <!--  -->

        <span *ngIf="tour.floorPlans && !tour.floorPlans?.dollhouseOrdered && tour.floorPlans?.status !== 'APPROVED'" fxFlex="grow shrink 100%" fxLayout="row"
          class="fp-in-order-span">
          <button *ngIf="tour.floorPlans?.status === 'NEW_ITERATION_REQUIRED' || 'IN_PROGRESS'"
            [disabled]="tour.floorPlans?.status === 'NEW_ITERATION_REQUIRED' || 'IN_PROGRESS'" mat-raised-button
            class="raised-button-small-update option-button-tli" disableRipple>
            {{'scout24.Main.TourListItem.FloorPlanInProgressButton' | translate}}
          </button>
        </span>
        <span *ngIf="tour.floorPlans && tour.floorPlans?.dollhouseOrdered && tour.floorPlans?.status !== 'APPROVED'" fxFlex="grow shrink 100%" fxLayout="row"
          class="fp-in-order-span">
          <button *ngIf="tour.floorPlans?.status === 'NEW_ITERATION_REQUIRED' || 'IN_PROGRESS'"
            [disabled]="tour.floorPlans?.status === 'NEW_ITERATION_REQUIRED' || 'IN_PROGRESS'" mat-raised-button
            class="raised-button-small-update option-button-tli" disableRipple>
            {{'scout24.Main.TourListItem.DollhouseInProgressButton' | translate}}
          </button>
        </span>

      </div>

      <div fxFlex="grow shrink 100%" fxLayout="row" class="mt-10">

        <button *ngIf="tour.floorPlans?.status === 'REVIEW' && tour.floorPlans?.dollhouseOrdered" mat-flat-button color="primary"
          class="flat-button-small-update option-button-tli" disableRipple (click)="reviewFloorplan()">
          {{'scout24.Main.TourListItem.DollhouseAwaitButton' | translate}}
        </button>

        <button *ngIf="tour.floorPlans?.status === 'REVIEW' && !tour.floorPlans?.dollhouseOrdered " mat-flat-button color="primary"
          class="flat-button-small-update option-button-tli" disableRipple (click)="reviewFloorplan()">
          {{'scout24.Main.TourListItem.FloorPlanAwaitButton' | translate}}
        </button>

        <button *ngIf="tour.floorPlans?.status === 'APPROVED' " mat-flat-button color="primary" class="flat-button-small-update option-button-tli" disableRipple
          (click)="downloadFloorPlan()">
          {{'scout24.Main.TourListItem.FloorPlanApprovedButton' | translate}}
        </button>

      </div>
    </div>
  </div>

</div>
