

.tour-list-loader{
  position: absolute;
  top: 30%;
  left: 30%;
}

.list-pagination{
  display: flex;
  justify-content: center;
}

.back-button {
  margin-left: 10px;
}

.tour-number{
  margin-left: 15px;
}

.container-color-safari{
  background-color: #F2F2F2;
}
