.wrapper-header {
  max-width: 1400px ;
  margin: auto;
  margin-bottom: 5px;

}

.inner-wrapper{
  margin-left: 15px;
}





.control-header-icon{
margin-top: -3px;
}

.identity-header-icon {
  font-size: 26px;
}

.scout-logo-header{
 width: 105px;
}

.wrapper-flag{
margin-top: -5px;
margin-right: 5px;
}

.flag-preview{
  font-size: 22px;
}

