<main class="wrapper">

  <p>Buttons / Icons:</p>
  <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button color="accent" disableRipple class="basic-button">
        <i class="material-icons marker-icon ">chevron_left</i>
        Zurück zum Scout-Manager
      </button>
      <button mat-button color="accent" disableRipple class="basic-button">
        <i class="material-icons marker-icon connect-icon">link_off</i>
        Verknüpfung aufheben
      </button>
      <button mat-button color="accent" disableRipple class="basic-button">
        <i class="material-icons marker-icon ">chevron_right</i>
        Mehr erfahren
      </button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button class="raised-button-small" disableRipple>Optionen ansehen</button>
      <button mat-raised-button class="raised-button-big" disableRipple>Abbrechen</button>
      <button mat-raised-button class="raised-button-big-black" disableRipple>
        <i class="material-icons marker-icon connect-icon">insert_link</i>
        Exposee verknüpfen
      </button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button color="primary" class="flat-button-small" disableRipple>Grundriss überprüfen</button>
      <button mat-flat-button color="primary" class="flat-button-big" disableRipple>Tour löschen</button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icons</div>
    <div class="example-button-row">
      <i class="material-icons marker-icon example-button-row">insert_link</i>
      <i class="material-icons marker-icon example-button-row">link_off</i>
      <i class="material-icons marker-icon example-button-row">chevron_left</i>
      <i class="material-icons marker-icon example-button-row">chevron_right</i>
      <i class="material-icons marker-icon example-button-row">expand_more</i>
      <i class="material-icons marker-icon example-button-row">perm_identity</i>
    </div>
  </section>
  <section>
    <div class="example-button-row">
      <i class="material-icons marker-icon example-button-row">place</i>
      <i class="material-icons marker-icon example-button-row">mode</i>
      <i class="material-icons marker-icon example-button-row">share</i>
      <i class="material-icons marker-icon example-button-row">file_download</i>
      <i class="material-icons marker-icon example-button-row">delete_forever</i>
      <i class="material-icons marker-icon example-button-row">search</i>
      <i class="material-icons marker-icon example-button-row">done</i>
    </div>
  </section>
  <mat-divider></mat-divider>
  <p>Fonts / Headlines:</p>
  <section>
    <div class="example-label">Headline-One</div>
    <div class="example-button-row">
      <h1 class="mat-h1">
        13 virtuelle Touren gefunden
      </h1>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Headline-Two</div>
    <div class="example-button-row">
      <h2 class="mat-h2">
        Am Spittelmarkt- Elegante Neubauwohnung mit Terasse
      </h2>
      <h2 class="mat-h2">
        Suche
      </h2>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Headline-Three</div>
    <div class="example-button-row">
      <h3 class="mat-h3">
        Wählen Sie ein unverknüpftes Expose aus
      </h3>
    </div>
  </section>

  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Headline-Four</div>
    <div class="example-button-row">
      <h4 class="mat-h4">
        Zuhause in anderen Ländern
      </h4>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Paragraph-one</div>
    <div class="example-button-row">
      <p class="mat-body-1">
        Verwandeln Sie mit immoviwer ihre 360 Bilder in Grundrisse oder 3D-Modelle Verwandeln Sie mit immoviwer ihre 360 Bilder in Grundrisse oder 3D-Modelle
      </p>
      <p class="mat-body-2">
        Interne ID: 110533543
      </p>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>


    <div class="example-label">Headline-Four</div>
    <div class="example-button-row">
      <button mat-flat-button (click)="openDialogOne()" color="primary" class="flat-button-small" disableRipple>Open Template 1</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button (click)="openDialogTwo()" color="primary" class="flat-button-small" disableRipple>Open Template 2</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button (click)="openDialogThree()" color="primary" class="flat-button-small" disableRipple>Open Template 3</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button (click)="openDialogFour()" color="primary" class="flat-button-small" disableRipple>Open Template 4</button>
    </div>


  </section>

</main>
