<div class="container-color-safari">

  <div class="mt-10 mb-5 back-button">
    <a [href]="scoutURL" target="_self">
      <button mat-button color="accent" disableRipple class="basic-button ">
        <i class="material-icons ">chevron_left</i>
        {{'scout24.Header.Back' | translate}}
      </button>
    </a>
  </div>

  <ng-container *ngIf="totalItems !== undefined">

    <div class="mb-30">
      <h1 class="mat-h1">
        {{ totalItems }} {{'scout24.Main.Tour.FoundTours' | translate}}
      </h1>
    </div>

  </ng-container>

  <ng-container *ngIf="tourList.length">

    <ng-container *ngFor="let tour of tourList | paginate:
      { id: 'tourList', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }; trackBy: toursTrackFn">

      <scout24-link-tour-list-item [tour]="tour" [exposeObjectId]="exposeObjectId" [internalID]="internalID" [action]="action" [returnUrl]="returnUrl"
        (linkTourEvent)="linkTour($event)" (unlinkTourEvent)="unlinkTour($event)"
        (closeModalEvent)="closeWaitingResponseModalEvent($event)">
      </scout24-link-tour-list-item>

    </ng-container>

    <div>
      <pagination-controls (pageChange)="fetchPage($event)" class="list-pagination" id="tourList" previousLabel="" nextLabel=""></pagination-controls>
    </div>

  </ng-container>


  <ng-container *ngIf="(uiStateStream$ | async) as uiState">

    <scout24-container-spinner [loading]="uiState.uiOngoingActions.apiRequest.fetchingTourListPageSlice" [positionTop]="true"></scout24-container-spinner>

  </ng-container>

</div>
