

<div class="wrapper-layout">
  <scout24-header class="header"></scout24-header>
  <div class="wrapper-content " fxLayout="row" fxLayout.sm="column-reverse" fxLayout.xs="column-reverse" fxFlexFill>
    <scout24-main   class="main"></scout24-main>
    <scout24-side  fxLayout="column" fxLayoutAlign.sm="space-around" fxLayoutAlign.sx="space-around" fxLayout.sm="row" fxLayout.xs="row" fxFlex="1 1 auto" class="side  "></scout24-side>
  </div>
  <scout24-footer ></scout24-footer>
</div>














