


.text-subinfo-big{
margin-top: 10px;
margin-bottom: 0px;

}

.text-subinfo-small{
  margin: 0 0 0 0;
  opacity: 0.5;
}



.text-info-2D{
  min-height: 84px;
  margin-bottom: 0px;
}

.price-wrapper {
  position: relative;
  margin-top: 10px;
}



.price-wrapper-2D{
  position: absolute;
  left: 52%;
  transform: translate(0%, 50%);
  color: white;
}

.price-layer-2D{
  position: absolute;
  left: 37%;
  transform: translate(0%, -25%);
  width: 100px;
}




.price-wrapper-subtext {
font-size: 8px;
margin: 45px 0 0 5px;

}

.wrapper-summary-payment {
  text-align: end;
}

.agbs-wrapper{
  margin-top: 160px;
}

.agbs-link:link, :visited  {
  text-decoration: none;
  color: #007DAF;
}




